* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #F4F7F5;
}

::-webkit-scrollbar-thumb {
  background: #E0EDE7;
  border-radius: 4px;
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}
